<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Motors website for CSE">
    <meta name="keywords" content="Motors, vehicles, cars">
    <meta name="author" content="Joash Tantiangco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>