<h1>Welcome to CSE Motors!</h1>
<div>
    <div>
        <p></p>
        <figure><img src="" alt=""></figure>
    </div>
    <figure>
        <img src="" alt="">
    </figure>
</div>
<section>
    <h2>Upgrades</h2>
    <ul>
        <li>
            <figure>
                <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            </figure>
            <p>Bumper Sticker</p>
        </li>
        <li>
            <figure>
                <img src="../public/images/upgrades/flame.jpg" alt="Flame">
            </figure>
            <p>Flame</p>
        </li>
        <li>
            <figure>
                <img src="../public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </figure>
            <p>Flux Capacitor</p>
        </li>
        <li>
            <figure>
                <img src="../public/images/upgrades/hub-cap.jpg" alt="Hub Cap">
            </figure>
            <p>Hub Cap</p>
        </li>
    </ul>
</section>
<section>
    <h2>Reviews</h2>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>