<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div>
    <div id="heroText">
        <p><span class="strongText">CSE Delorean</span><br> 3 Piston Cup!<br>Rusteeze<br>Route 66</p>
        <figure><img src="../images/site/own_today.png" alt="Link for Delorean"></figure>
    </div>
    <figure>
        <img src="../images/vehicles/delorean.jpg" alt="Hero image featuring delorean">
    </figure>
</div>
<section>
    <h2>Upgrades</h2>
    <ul>
        <li>
            <figure>
                <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
            </figure>
            <a href="/">
                <p>Bumper Sticker</p>
            </a>
        </li>
        <li>
            <figure>
                <img src="../images/upgrades/flame.jpg" alt="Flame">
            </figure>
            <a href="">
                <p>Flame</p>
            </a>
        </li>
        <li>
            <figure>
                <img src="../images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </figure>
            <a href="">
                <p>Flux Capacitor</p>
            </a>
        </li>
        <li>
            <figure>
                <img src="../images/upgrades/hub-cap.jpg" alt="Hub Cap">
            </figure>
            <a href="">
                <p>Hub Cap</p>
            </a>
        </li>
    </ul>
</section>
<section>
    <h2>Reviews</h2>
    <ul>
        <li>Ka-Chow (10/10)</li>
        <li>I... Am... Speed...(10/10)</li>
        <li>I decide when I'm done (10/10)</li>
        <li>I didn't come all this way to see you quit (10/10)</li>
    </ul>
</section>