@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
 /*--- Color Scheme ---*/
 --content-background: #f8d567;
 --content-background-2: #d6b345;
 --content-color: #20303d;
 --content-border: #3d4051;
 --blur-background: rgba(41, 44, 61, 0.75);
 --header-color: #30415d;
 --nav-color: #1c304c;
 --nav-hover-color: #1d346c;
 --title-color: #ede1e4;

 /*--- Font ---*/
 --title-font: 'Share Tech';
 --content-font: 'Roboto';
}

body {
  min-width: 500px;
}

/*==========
General text
==========*/
h1,
h2,
header {
  font-family: var(--title-font);
}

p,
li {
  font-family: var(--content-font);
}

.strongText {
  font-weight: 800;
  font-size: larger;
}

.strong {
  font-weight: 800;
}

/*========
header.ejs
========*/
header {
  background-color: var(--header-color);
  padding: 1.5rem 1rem;
}

header a {
  color: var(--title-color);
  text-decoration: none;
}

#tools {
  float: right;
}

/*============
navigation.ejs
============*/
nav {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: block;
  text-align: center;
  font-family: var(--title-font);
  padding: 1rem;
  color: var(--title-color);
  background-color: var(--nav-color);
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--title-color);
}

nav > ul > li:active, nav > ul > li:hover {
  background-color: var(--nav-hover-color);
}

/*=======
index.ejs
=======*/
main {
  background: url('../images/site/checkerboard.jpg') top left/auto repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  background-color: var(--content-background);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

main > div {
  width: 100%;
  margin: 0 auto;
}

main > div > div {
  background-color: var(--blur-background);
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  color: var(--title-color);
  border: 3px solid var(--content-color);
  border-radius: 10px;
  box-shadow: 0 0 3px 3px var(--content-border);
}

main > div > div > figure {
  margin: 0; 
}

main > div > div> figure > img {
  width: 75%;
}

main > div > figure {
  width: 100%;
  margin: 0 auto;
}

main > div > figure > img {
  width: 100%;

}

main section {
  background-color: var(--content-background);
  border: 10px solid var(--content-border);
  border-radius: 15px;
  color: var(--content-color);
  padding: 1rem;
  width: 100%;
  margin: 1rem 0; 
}

main > section:first-of-type > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 16px;
}

main > section:first-of-type > ul > li {
  width: 40%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main > section:first-of-type > ul > li > figure > img {
  display: block;
  margin: 0 auto;
  min-width: 50px;
  min-height: 50px;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}

main > section:first-of-type > ul > li > a {
  text-decoration: none;
}

main > section:first-of-type > ul > li > a > p {
  text-align: center;
  color: var(--content-color);
}

footer {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--header-color);
  width: 100%;
}

footer p {
  color: var(--title-color);
  margin: 0;
  padding: 1rem;
}

.columnFlow {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/*=============
classification.ejs
============*/
#inv-display {
  background-color: var(--content-background);
  border: 3px solid var(--content-color);
  border-radius: 10px;
  box-shadow: 0 0 3px 3px var(--content-border);
  padding: 5px 0;
  min-width: 25%;
}

#inv-display > li {
  background-color: var(--content-background-2);
  list-style-type: none;
  padding: 10px;
  margin: 15px 10px;
}

#inv-display > li > a {
  display: block;
  width: 100%;
}

#inv-display > li > a > img{
  margin: 0 auto;
}

.namePrice > h2 > a {
  text-decoration: none;
  color: var(--content-color);
}

/*=============
vehicle.ejs
============*/
#car-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#car-display > div > img {
  width: 100%;
  margin: 0 auto;
}

#car-display > .carSpec {
  display: flex;
  flex-flow: column wrap;
}

#car-display > .carSpec > li {
  width: 100%;
}

.carSpec > li:nth-child(odd) {
  background-color: var(--content-background-2);
  padding: 5px;
}

/*========
login.ejs + account.ejs
========*/
.accountForm {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--content-background);
  border: solid 10px var(--content-border);
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  width: 50%;
  min-width: 250px;
}

.accountForm > fieldset > label {
  color: var(--content-color);
  font-size: larger;
  font-family: var(--title-font);
}

.accountForm > fieldset > input[type=text],
.accountForm > fieldset > input[type=email],
.accountForm > fieldset > input[type=password],
.accountForm > fieldset > select,
.accountForm > fieldset > textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.accountForm > fieldset > textarea {
  height: 3rem;
}

.accountForm > fieldset > input[type=submit] {
  align-self: center;
  padding: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: var(--nav-color);
  color: var(--title-color);
  text-transform: capitalize;
}

.accountForm > fieldset > input[type=submit]:hover {
  background-color: var(--nav-hover-color);
}

.accountForm > p > a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  background-color: var(--nav-color);
  color: var(--title-color);
}

.accountForm > p > a:hover {
  background-color: var(--nav-hover-color);
}

/*
vehicle management
*/
.management {
  display: flex;
  flex-direction: column;
  background-color: var(--content-background);
  border: solid 10px var(--content-border);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.management > a {
  margin: 0.5rem 0;
}

/*===
input
===*/
input:required:invalid, input:focus:invalid {
  background-color: #e99;
}

input:required:valid {
  background-color: #9e9;
}

/*=======
.required
=======*/
.required {
  display: block;
  font-style: italic;
  font-size: small;
}

/*===
error
===*/
.error {
  background-color: var(--content-background);
  border: 3px solid var(--content-color);
  border-radius: 10px;
  box-shadow: 0 0 3px 3px var(--content-border);
  margin: 15px;
  padding: 15px;
}

#genError {
  display: inline-flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--content-background);
  color: var(--content-color);
  text-decoration: none;
}

#genError:hover {
  background-color: var(--content-background-2);
  cursor: pointer;
}

/*====
notice
====*/
#messages, .notice {
  background-color: var(--content-color);
  margin: 10px 0;
  padding: 15px;
}

#messages > .notice > li {
  list-style-type: none;
  color: var(--title-color);
}

.notice > li {
  color: var(--title-color);
  font-size: small;
  padding: 1rem;
}

@media screen and (min-width: 625px) {
  /*========
  Navigation
  ========*/
  nav {
    width: 100%;
  }

  nav > ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  nav > ul > li {
    display: inline-block;
    flex-grow: 1;
    text-decoration: none;
    color: var(--title-color);
  }

  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  main > h1, 
  main > div {
    width: 90%;
  }

  main > section {
    width: 40%;
  }

  main > div > div {
    width: 30%;
    min-width: 200px;
  }

  #inv-display {
    max-width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  #inv-display > li {
    flex: 0 1 200px;
  }

  #car-display {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  #car-display > div {
    width: 50%;
    height: 100%;
    margin: auto 0;
  }

  #car-display > div > img {
  width: 100%;
  }

  #car-display > .carSpec {
    width: 50%;
  }
}