<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<div class="columnFlow">
    <%- messages() %>
    
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    <% } %>

    <form class="accountForm" action="/inv/addclassification" method="post">
        <fieldset>
            <label for="classification_name">Classification Name</label>
            <span>Name must be Alphabetic Characters only</span>
            <input type="text" id="classification_name" name="classification_name" pattern="[A-Za-z]+" title="Only letters are allowed" value="<%=locals.classification_name%>" required>
            <input type="submit" value="Add Classification">
        </fieldset>
    </form>
</div>
